<div class="jumbotron">
  <h1 class="display-4"> {{nome}} - {{cpf}} obrigado por cria a sua conta!</h1>
  <p class="lead">Obrigado por criar a sua conta no site, espero que aproveite sua estadia!</p>
  <hr class="my-4">
  <p>qualquer dúvida ou problemas técnico, contate nosso suporte 24h - Suporte24HdoSiteCriado</p>
<div class="row" style="margin-top: 50px">
  </div>
   <button type="button" class="btn btn-danger" data-toggle="popover" title="Suporte 24h" data-content="Caso haja um problema não exite em nos chamar!">Suporte</button>
    <div class="col-md-2">
    <button type="button" class="btn btn-primary" (click)="redirect()">voltar ao site</button>

  </div>
</div>
